.root {
  width: 100%;
  height: 100%;
  display: flex;
  & > * {
    flex: 0 0 50%;
    height: 100%;

  }
  &.readOnly > * {
    flex: 0 0 100%;
  }
  &.readOnly :global(.ReactCodeMirror) {
    display: none;
  }
  :global(.ReactCodeMirror) {
    overflow: auto;
  }
  :global(.CodeMirror) {
    height: 100%;
    padding: 16px;
    pre {
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    }
  }
  .viewer {
    overflow: scroll;
    padding-left: 16px;
    background-color: #fff;
  }
}
