.root {
  height: 100vh;
  width: 100vw;
  .header {
    display: flex;
    height: 60px;
    align-items: center;
    .logo, .toolGroup {
      flex: 0 0 300px;
    }
    .searchBar {
      flex: 1;
    }
    .logo {
      color: rgba(0, 0, 0, 0.87);
      letter-spacing: 2px;
      padding-left: 16px;
      box-sizing: border-box;
      font-size: 24px;
      & > span:first-of-type {
        background-color: #db5947;
        font-weight: 600;
        padding: 4px 2px 4px 4px;
        margin-right: 2px;
      }
    }
  }
  .body {
    height: calc(100% - 60px);
    display: flex;
    .side {
      flex: 0 0 256px;
      padding-right: 56px;
      position: relative;
    }
    .content {
      flex: 1;
      overflow: hidden;
    }
  }
}
.menu {
  width: 100%;
  height: 100%;
  .menuItem {
    border-radius: 0 100px 100px 0;
    .text {
      span {
        font-weight: 400;
      }
    }
    &.active {
      background-color: #faeeeb;
      .icon {
        svg {
          fill: #db5947;
        }
      }
      .text {
        span {
          color: #db5947;
        }
      }
    }
  }
}
.markdownWrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 8;
}